## Mergin tables

In [2]:
import pandas as pd

In [17]:
db_mulher = pd.read_csv("clustering/mulher_values.csv", sep = ';',low_memory=False)

In [18]:
db_gravidezes = pd.read_csv("clustering/gravidezes_values.csv", sep = ';',low_memory=False)

In [19]:
db_mulher.tail()

,REC$TYPE,DOMICILIO_ID,MULHER_ID,Merge_mulher,CM000_NQUE,CM000A_QUES,CM002_CONG,CM003_ESTR,CM004_MACR,CM008_SITU,...,M840B_ALTU,XM010_SITU,XM020_NUME,XM110_PESO,XM120_ALTU,XM130_CIRC,XM210_RETI,XM220_HEMO,XM999_PESO,FatorMulheres
15570,210,1088558370,108855837004,,55837004,558370,1088,10,5,2,...,160,1,1,"94,5","160,1","97,8","9,99","99,99","753,750212","0,22420422233395212"
15571,210,1088558380,108855838004,,55838004,558380,1088,10,5,2,...,"161,5",1,1,"74,1","161,5","85,5","9,99","99,99","299,248287","0,08901188802796955"
15572,210,1088558390,108855839002,,55839002,558390,1088,10,5,2,...,"165,1",2,1,"89,6","165,2","108,8","0,79","12,78","272,845167","0,08115823718642257"
15573,210,1088558390,108855839005,,55839005,558390,1088,10,5,2,...,"163,4",1,2,"50,3","163,3","70,8","0,77","12,58","272,845167","0,08115823718642257"
15574,210,1088558400,108855840002,,55840002,558400,1088,10,5,2,...,"153,7",2,2,"63,4","153,8","86,3","9,99","99,99","420,990522","0,1252243131640732"

In [20]:
db_gravidezes.tail()

,REC$TYPE,DOMICILIO_ID,MULHER_ID,CM000_NQUE,CM000A_QUES,CM002_CONG,CM003_ESTR,CM004_MACR,CM008_SITU,CM021_LINH,...,M268_AUME,M269_CONV,M270_CONV,M271_SANG,M272_SANG,M273_TRAN,M274_FEBR,M275_CALA,M276_CORR,XG999_PESO
6828,230,1087558230,"1,08756E+11",55823002,558230,1087,10,5,2,2,...,2,,,2,2,,2,,,"734,498288"
6829,230,1088558290,"1,08856E+11",55829003,558290,1088,10,5,2,3,...,2,,,2,2,,2,,,"728,416195"
6830,230,1088558300,"1,08856E+11",55830002,558300,1088,10,5,2,2,...,2,,,2,2,,2,,,"438,637868"
6831,230,1088558350,"1,08856E+11",55835002,558350,1088,10,5,2,2,...,2,,,2,2,,2,,,"393,984721"
6832,230,1088558360,"1,08856E+11",55836003,558360,1088,10,5,2,3,...,2,,,2,2,,2,,,"672,555824"

In [78]:
db_joined = pd.merge(db_mulher, db_gravidezes, on='CM000_NQUE')
db_joined

,REC$TYPE_x,DOMICILIO_ID_x,MULHER_ID_x,Merge_mulher,CM000_NQUE,CM000A_QUES_x,CM002_CONG_x,CM003_ESTR_x,CM004_MACR_x,CM008_SITU_x,...,M268_AUME,M269_CONV,M270_CONV,M271_SANG,M272_SANG,M273_TRAN,M274_FEBR,M275_CALA,M276_CORR,XG999_PESO
0,210,1100010,110001002,,10001002,100010,1,1,1,1,...,2,,,2,2,,2,,,"1259,140021"
1,210,1100010,110001002,,10001002,100010,1,1,1,1,...,2,,,2,2,,2,,,"1259,140021"
2,210,1100010,110001002,,10001002,100010,1,1,1,1,...,2,,,2,2,,2,,,"1259,140021"
3,210,1100020,110002002,,10002002,100020,1,1,1,1,...,2,,,2,2,,2,,,"2686,00803"
4,210,1100030,110003002,,10003002,100030,1,1,1,1,...,2,,,2,2,,2,,,"2038,006052"
5,210,1100080,110008002,,10008002,100080,1,1,1,1,...,1,1,2,1,2,,1,1,1,"1337,187856"
6,210,1100090,110009002,,10009002,100090,1,1,1,1,...,2,,,2,2,,2,,,"1784,200242"
7,210,1100100,110010002,,10010002,100100,1,1,1,1,...,2,,,2,2,,2,,,"1755,079355"
8,210,1100120,110012002,,10012002,100120,1,1,1,1,...,1,2,,1,2,,2,,,"1238,521825"
9,210,1100120,110012002,,10012002,100120,1,1,1,1,...,1,2,,1,2,,2,,,"1238,521825"
10,210,2100180,210018003,,10018003,100180,2,1,1,1,...,1,2,,2,2,,1,1,1,"288,180641"
11,210,2100200,210020002,,10020002,100200,2,1,1,1,...,1,2,,2,2,,2,,,"720,162342"
12,210,2100200,210020002,,10020002,100200,2,1,1,1,...,2,,,2,2,,2,,,"720,162342"
13,210,3100260,310026002,,10026002,100260,3,1,1,1,...,2,,,1,2,,2,,,"2560,177059"
14,210,3100290,310029004,,10029004,100290,3,1,1,1,...,2,,,2,2,,2,,,"2597,087947"
15,210,3100320,310032003,,10032003,100320,3,1,1,1,...,2,,,2,2,,2,,,"2239,406822"
16,210,3100330,310033004,,10033004,100330,3,1,1,1,...,2,,,2,2,,2,,,"900,951492"
17,210,3100330,310033004,,10033004,100330,3,1,1,1,...,2,,,2,2,,2,,,"900,951492"
18,210,4100370,410037002,,10037002,100370,4,1,1,1,...,2,,,2,2,,2,,,"1828,294881"
19,210,4100380,410038001,,10038001,100380,4,1,1,1,...,2,,,2,2,,2,,,"985,818975"
20,210,4100380,410038001,,10038001,100380,4,1,1,1,...,2,,,2,2,,2,,,"985,818975"
21,210,4100390,410039002,,10039002,100390,4,1,1,1,...,2,,,2,2,,2,,,"1799,645181"
22,210,4100420,410042002,,10042002,100420,4,1,1,1,...,2,,,2,2,,2,,,"1914,41808"
23,210,4100430,410043002,,10043002,100430,4,1,1,1,...,1,2,,2,2,,2,,,"747,268069"
24,210,4100450,410045002,,10045002,100450,4,1,1,1,...,1,2,,2,2,,2,,,"1763,034729"
25,210,4100460,410046003,,10046003,100460,4,1,1,1,...,2,,,2,2,,2,,,"138,040179"
26,210,4100470,410047002,,10047002,100470,4,1,1,1,...,1,2,,2,2,,2,,,"2498,068548"
27,210,5100490,510049002,,10049002,100490,5,1,1,1,...,2,,,2,2,,2,,,"2254,941564"
28,210,5100510,510051002,,10051002,100510,5,1,1,1,...,2,,,2,2,,2,,,"2573,762285"
29,210,5100520,510052002,,10052002,100520,5,1,1,1,...,2,,,1,2,,2,,,"2467,763664"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6803,210,1084557860,108455786002,,55786002,557860,1084,10,5,2,...,2,,,2,2,,2,,,"733,188355"
6804,210,1084557870,108455787002,,55787002,557870,1084,10,5,2,...,2,,,2,2,,2,,,"839,896274"
6805,210,1084557880,108455788002,,55788002,557880,1084,10,5,2,...,2,,,1,2,,2,,,"924,634326"
6806,210,1084557920,108455792002,,55792002,557920,1084,10,5,2,...,2,,,2,2,,2,,,"1172,853458"
6807,210,1085557930,108555793002,,55793002,557930,1085,10,5,2,...,2,,,2,1,2,2,,,"156,416666"
6808,210,1085557940,108555794004,,55794004,557940,1085,10,5,2,...,2,,,2,2,,2,,,"34,388571"
6809,210,1085557950,108555795002,,55795002,557950,1085,10,5,2,...,2,,,2,2,,2,,,"209,229182"
6810,210,1085557960,108555796002,,55796002,557960,1085,10,5,2,...,2,,,2,2,,2,,,"169,283769"
6811,210,1085557970,108555797002,,55797002,557970,1085,10,5,2,...,2,,,2,2,,1,1,2,"217,082988"
6812,210,1085557980,108555798003,,55798003,557980,1085,10,5,2,...,2,,,2,2,,2,,,"45,851429"
6813,210,1085557980,108555798003,,55798003,557980,1085,10,5,2,...,2,,,2,2,,2,,,"45,851429"
6814,210,1085557990,108555799002,,55799002,557990,1085,10,5,2,...,2,,,2,2,,2,,,"260,039796"
6815,210,1085558040,108555804004,,55804004,558040,1085,10,5,2,...,2,,,1,1,1,2,,,"402,64268"
6816,210,1085558040,108555804004,,55804004,558040,1085,10,5,2,...,2,,,1,1,1,2,,,"402,64268"
6817,210,1086558050,108655805002,,55805002,558050,1086,10,5,2,...,2,,,1,2,,2,,,"347,478956"
6818,210,1086558060,108655806001,,55806001,558060,1086,10,5,2,...,1,2,,2,2,,2,,,"198,889169"
6819,210,1086558060,108655806001,,55806001,558060,1086,10,5,2,...,1,2,,2,2,,2,,,"198,889169"
6820,210,1086558080,108655808002,,55808002,558080,1086,10,5,2,...,2,,,2,2,,2,,,"286,298971"
6821,210,1086558150,108655815002,,55815002,558150,1086,10,5,2,...,2,,,2,2,,2,,,"239,496958"
6822,210,1086558150,108655815002,,55815002,558150,1086,10,5,2,...,1,2,,2,2,,1,1,1,"239,496958"
6823,210,1087558220,108755822002,,55822002,558220,1087,10,5,2,...,1,2,,2,1,2,2,,,"67,869206"
6824,210,1087558230,108755823002,,55823002,558230,1087,10,5,2,...,2,,,2,2,,2,,,"734,498288"
6825,210,1088558290,108855829003,,55829003,558290,1088,10,5,2,...,2,,,2,2,,2,,,"728,416195"
6826,210,1088558300,108855830002,,55830002,558300,1088,10,5,2,...,2,,,2,2,,2,,,"438,637868"
6827,210,1088558350,108855835002,,55835002,558350,1088,10,5,2,...,2,,,2,2,,2,,,"393,984721"
6828,210,1088558360,108855836003,,55836003,558360,1088,10,5,2,...,2,,,2,2,,2,,,"672,555824"
6829,210,1088558370,108855837004,,55837004,558370,1088,10,5,2,...,2,,,2,1,2,2,,,"753,750212"
6830,210,1088558400,108855840002,,55840002,558400,1088,10,5,2,...,2,,,1,2,,2,,,"420,990522"
6831,210,1088558400,108855840002,,55840002,558400,1088,10,5,2,...,2,,,2,2,,2,,,"420,990522"
6832,210,1088558400,108855840002,,55840002,558400,1088,10,5,2,...,2,,,2,2,,2,,,"420,990522"

In [37]:
db_joined.to_csv("clustering/mulher_gravidezes.csv", sep=';')

In [81]:
import pandas  as pd
import numpy as np
import matplotlib.pyplot as plt
from pandas import Series,DataFrame
%matplotlib inline

In [82]:
np.unique(db_joined['M258_TIPO'])#The data has 4 labels

array([' ', '1', '2', '3', '4', '95'], dtype=object)

In [83]:
def similarity_score(x,y):
    count = 0
    for i in range(len(x)):
        if x[i]==y[i]:
            count +=1
    return count

## Implement k-prototype 
#### clustering for mixed data type